@charset "UTF-8";

body {
    margin: 0px;
}

#espaco {
    width: 100%;
    position: absolute;
}

#astro {
    display: block;
    margin: auto;
    width: 40%;
    position: relative;
    padding: 53px;
}